@use '../../../../design-system/settings/colors' as colors;
@use '../../../../design-system/settings/spacing' as spacing;
@use '../../../../design-system/settings/typography' as typography;

.mobile-geostories-filter {
    &__container {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: colors.$basic-white;
        z-index: 9;
        padding: spacing.$spacing-8 spacing.$spacing-8 0 spacing.$spacing-8;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: spacing.$spacing-16;
        width: 100%;
        min-height: 40px;
    }

    &__header-title {
        flex-grow: 1;
    }

    &__header-back-button {
        cursor: pointer;
        padding-left: spacing.$spacing-8;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__content {
        padding: spacing.$spacing-8;
    }
}